@{
    ViewData["Title"] = "Home";
}

<div class="d-flex justify-content-between align-items-center">
    <h4 class="mb-0">Games that are waiting for a player</h4>
    <a asp-controller="Game" asp-action="Create" class="btn btn-primary btn-sm">+ New Game</a>
</div>

<hr>
<div id="home"></div>
